.large-screen-chats {
  height: 100%;
  border-radius: 10px;
  border: 1px solid #d4d4d4;
}

.chats-meta {
  height: 65px;
  background-color: #e8f5f9;
  border-bottom: 1px solid #d4d4d4;
  display: flex;
}

.chats-profile-info {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex: 1;
}

.chats-profile-info img {
  position: absolute;
  top: -27.5px;
}

.chats-profile-info .titles {
  margin-top: 22px;
  display: flex;
  flex-direction: column;
}

.chats-subject {
  flex: 3.5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chats-subject h6 {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
}

.chats-secondary {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.chats-secondary .contact-btn {
  background-color: #454444;
  color: #fff;
}

.chats-secondary .contact-btn:focus {
  outline: none;
  box-shadow: none;
}

.chats-secondary .contact-btn:hover {
  color: #fff;
}

.chats {
  background-color: #fff;
  height: 100%;
  position: relative;
  overflow-y: auto;
  padding: 0px 45px 0px 25px;
}

.chats-id {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  right: -45px;
}

.chats-id small {
  padding: 2px 15px;
  background-color: #f4f6f8;
  border-bottom-left-radius: 4px;
  border-top-right-radius: 5px;
}

.chat-section {
  position: relative;
  bottom: 0px;
  padding: 0px 45px 30px 25px;
  left: 0;
  width: 100%;
  background-color: #fff;
}

.chat-input-wrapper {
  border: 1px solid #e5af1f;
  height: 150px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.chat-input-wrapper input {
  width: 100%;
  border: none;
  height: 100px;
  padding: 0px 20px;
}

.chat-input-secondary {
  position: absolute;
  bottom: 0px;
  display: flex;
  align-items: center;
  height: 50px;
  left: 0;
  width: 100%;
  background-color: var(--main-background-color);
}

.chat-input-secondary-icons {
  flex: 1;
}

.chat-send-btn-wrapper {
  display: flex;
  justify-content: flex-end;
  flex: 1;
  padding-right: 10px;
}

.send-btn {
  background-color: #ffbb00;
  color: #fff !important;
  height: 40px;
  width: 80px;
  border-radius: 15px;
}

.contact-popup {
  position: relative;
}

@media screen and (max-width: 767px) {
  .large-screen-chats {
    display: none;
  }
}
