.large-screen-chats {
  height: 100%;
  border-radius: 10px;
  border: 1px solid #d4d4d4;
  overflow: hidden;
}

.chats-meta {
  height: 60px;
  background-color: #e8f5f9;
  border-bottom: 1px solid #d4d4d4;
  display: flex;
}

.chats-profile-info {
  background-color: red;
  flex: 1;
}

.chats-subject {
  flex: 3.5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chats-secondary {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.chats-secondary .contact-btn {
  background-color: #454444;
  color: #fff;
}

.chats-secondary .contact-btn:focus {
  outline: none;
  box-shadow: none;
}

.chats-secondary .contact-btn:hover {
  color: #fff;
}
