.sm-chats {
  height: 100vh;
  width: 100%;
}

.sm-chats-meta {
  height: 60px;
}

.sm-chats-wrapper {
  height: calc(100vh - 160px);
  overflow-y: auto;
}

.sm-chat-input-wrapper {
  height: 100px;
}

.sm-chat-input-wrapper input {
  width: 100%;
  height: 50px;
  border: none;
  /* padding: 0px 5px; */
}

.sm-chat-input-wrapper input:focus {
  outline: none;
  box-shadow: none;
}
