.contact {
  height: 280px;
  width: 440px;
  position: absolute;
  top: 0px;
  right: 130px;
  background-color: white;
  z-index: 20;
  border-radius: 5px;
  border: 1px solid rgb(93, 91, 89);
}

.contact-header {
  height: 40px;
  background-color: #5d5b59;
  color: #fff;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.contact-body {
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contact-body .contact-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  height: 100%;
}

.contact-wrapper button {
  background-color: #eeeee4;
  color: #000;
  border: 1px solid #d4d4d4;
  max-width: 200px;
  width: 180px;
  font-weight: bold;
  font-size: 15px;
}

.contact-wrapper button:focus {
  outline: none;
  box-shadow: none;
}

@media screen and (max-width: 767px) {
  .contact {
    height: 280px;
    width: 300px;
    position: absolute;
    top: 0px;
    right: 30px;
    background-color: white;
    z-index: 20;
    border-radius: 5px;
    border: 1px solid #5d5b59;
  }

  .contact-body {
    padding: 20px;
  }

  .contact-body .contact-wrapper {
    text-align: center;
  }

  .contact-body .contact-wrapper button {
    margin-top: 20px;
  }
}
