.contact {
  height: 280px;
  width: 440px;
  position: absolute;
  top: 0px;
  right: 130px;
  background-color: white;
  z-index: 20;
  border-radius: 5px;
  border: 1px solid #5d5b59;
}

.contact-header {
  height: 40px;
  background-color: #5d5b59;
  color: #fff;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.contact-body {
  padding: 50px;
}

.contact-body div {
  display: flex;
  height: 40px;
  align-items: center;
}

.contact-wrapper button {
  background-color: #d4d4d4;
  color: #000;
  border: 1px solid #d4d4d4;
}

.contact-wrapper button:focus {
  outline: none;
  box-shadow: none;
}
