#main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#content {
  flex: 1 0 auto;
}

.main {
  background-color: var(--main-background-color);
  width: 100%;
}

.main-sidebar {
  height: 460px;
  background-color: #94529b;
}
