* {
  margin: 0px;
  padding: 0px;
}

:root {
  /* --skeletons-background: #eee; */
  --main-header-height: 60px;
  --secondary-header-height: 30px;
  --main-background-color: #f4f6f8;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
  padding: 0;
}
