* {
  margin: 0px;
  padding: 0px;
}

:root {
  /* --skeletons-background: #eee; */
  --main-header-height: 70px;
  --secondary-header-height: 30px;
  --main-background-color: yellow;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow-x: hidden;
}
